/*----------------------------------------*\
  RATIO
\*----------------------------------------*/

.ratio {}

.ratio--1\/1 {
  @apply aspect-w-1 aspect-h-1;
}

.ratio--2\/1 {
  @apply aspect-w-2 aspect-h-1;
}

.ratio--4\/3 {
  @apply aspect-w-4 aspect-h-3;
}

.ratio--16\/9 {
  @apply aspect-w-16 aspect-h-9;
}

.ratio--mb {
  @apply mb-6;
}