:root {
  --shadow-base-color-05: light-dark(rgba(0, 0, 0, 0.05), rgba(25, 25, 25, 0.05));
  --shadow-base-color-06: light-dark(rgba(0, 0, 0, 0.06), rgba(25, 25, 25, 0.06));
  --shadow-base-color-08: light-dark(rgba(0, 0, 0, 0.08), rgba(25, 25, 25, 0.08));
  --shadow-base-color-09: light-dark(rgba(0, 0, 0, 0.09), rgba(25, 25, 25, 0.09));
  --shadow-base-color-13: light-dark(rgba(0, 0, 0, 0.13), rgba(25, 25, 25, 0.13));
}
