/*----------------------------------------*\
  ELEMENTS
\*----------------------------------------*/

html,
body {
  height: 100%;
}

html {
  @apply overflow-y-scroll;
  @apply font-sans;
}

a {
  @apply text-gray-600 underline;

  &:hover,
  &:focus {
    @apply text-tertiary-yellow;
  }
}
