/*----------------------------------------*\
  ELEMENTS
\*----------------------------------------*/

html,
body {
  height: 100%;
}

html {
  @apply overflow-y-scroll;
  @apply font-regular;
}

#main-content {
  min-height: 100vh;
  position: relative;
}
