/*----------------------------------------*\
  FONT-FACE
\*----------------------------------------*/

@font-face {
  font-family: 'FrutigerNeuePro';
  font-weight: 400;
  src: url(../../fonts/FrutigerNeueLTPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'FrutigerNeuePro';
  font-weight: 700;
  src: url(../../fonts/FrutigerNeueLTPro-Bold.ttf) format("truetype");
}