/*----------------------------------------*\
  GRIDS
\*----------------------------------------*/

.gap--responsive {
  @apply gap-5 xs:gap-7 sm:gap-9 lg:gap-10 xl:gap-12 2xl:gap-16;
}

.grid {}

.grid--responsive-cols-2 {
  @apply sm:grid-cols-2;
}

.grid--responsive-cols-3 {
  @apply sm:grid-cols-2 md:grid-cols-3;
}

.grid--responsive-cols-4 {
  @apply sm:grid-cols-2 lg:grid-cols-4;
}