/*----------------------------------------*\
  Print
\*----------------------------------------*/
/* No header, no footer, no logo*/
@media print {
  #main-header,
  #main-footer {
    display: none !important;
  }
}
