/*----------------------------------------*\
  VERTICAL SPACING
\*----------------------------------------*/

/* default margin-top for all elements */

.vertical-spacing > * {
  @apply mt-10 xl:mt-12;

  &:first-child {
    @apply mt-0; 
  }
}

/* more specified spacings */ 

.vertical-spacing > :is(h1, h2, h3, h4, h5) {
  @apply mb-0; 

  & + p {
    @apply mt-[1.35em];
  }
}

.vertical-spacing > p {
  & + p, 
  & + .list--default, 
  & + [identifier="list"] {
    @apply mt-[1em]
  }
} 