/*----------------------------------------*\
  accordion
\*----------------------------------------*/

.accordion {
  @apply w-full;
}

.accordion-item {
  @apply border-gray-50 border-t border-b py-9;
  &:nth-child(odd){
    @apply border-b-0;
  }
}
