table {
  @apply w-full;
  @apply border border-text-200;
  @apply shadow-md;
}
thead {
  @apply bg-secondary-50;

  & th {
    @apply px-6 py-4;
    @apply text-left;
    @apply text-text-600 uppercase text-sm;
  }
}

tbody tr {
  @apply border-t border-text-300;

  & td,
  th {
    @apply px-6 py-4;
    @apply text-base;
    @apply text-gray-500;
  }

  & th {
    @apply text-gray-900 font-bold text-left;
  }
}
