/* ----------------------------------------*\
  CONTAINER
\* ---------------------------------------- */

.container {
  @apply mx-auto px-4;
  max-width: 1280px;
}

.container--sm {
  max-width: 640px;
}
