
/* ----------------------------------------*\
  CONTAINER
\* ---------------------------------------- */

.container {
  @apply mx-auto xs:px-7 sm:px-9 lg:px-10 xl:px-12 2xl:px-16;
  max-width: 1680px;
}

.container--flex {
  @apply flex justify-between;
}

.container--sm {
  max-width: 640px;
}
