/* ----------------------------------------*\
  HEADER
\* ---------------------------------------- */

.logo {
  width: 120px;
  height: 40px;
  @apply text-primary-white fill-current;
}

@screen lg {
  .logo {
    @apply mb-5;
  }
}
