/*----------------------------------------*\
  STICKY NAVIGATION
\*----------------------------------------*/

.sticky-navigation {
  position: fixed !important;
  left: 0;
  right: 0;
  z-index: 1000;
  @apply border-b;
  @apply bg-white;
}

.mobile-menu-sticky-navigation {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  @apply border-b;
  @apply xs:px-5 md:px-10 lg:hidden;
  @apply bg-white;
}
