/*----------------------------------------*\
  TOPBAR NAVIGATION
\*----------------------------------------*/

.top-bar-navigation {
  @apply flex;

  a {
    @apply flex items-center;
    @apply hover:text-text-300 focus:text-text-300;
    @apply h-full px-4;
    @apply transition-colors;
  }
}

.top-bar-navigation--mobile {
  @apply flex flex-col pb-12;
  @apply bg-secondary-500;
}

.top-bar-navigation--desktop {
  @apply hidden lg:flex h-full;

  ul {
    @apply flex;
  }
}
