/*----------------------------------------*\
  DESKTOP-MENU
\*----------------------------------------*/


.desktop-menu {
  @apply border-b relative z-10;
}

.desktop-menu__drawer {
  @apply h-[500px] w-[400px] p-5 mt-px;
  @apply hidden lg:block;
  @apply absolute z-10 top-14 xl:top-16 2xl:top-20 left-0;
  @apply bg-white shadow-2xl;
}
