/*----------------------------------------*\
  MAIN NAVIGATION
\*----------------------------------------*/

/*----------------------------------------*\
  MAIN NAVIGATION
\*----------------------------------------*/

.mainmenu {
  @apply border-b;
}
