/*----------------------------------------*\
  MOBILEMENU
\*----------------------------------------*/

.mobilemenu {
  @apply invisible opacity-0 lg:hidden;
  @apply w-full h-0;
  @apply absolute z-10;
  @apply transition-opacity duration-700;
  @apply bg-white shadow-2xl;
}

.mobilemenu--is-open,
.body--mobilemenu-is-open .mobilemenu {
  @apply block lg:hidden;
  @apply visible opacity-100;
  @apply overflow-y-auto;
  height: calc(100vh - 6rem);
}

