/*----------------------------------------*\
  RELATED TAGS
\*----------------------------------------*/

.related-tags {
  .vertical-spacing & {
    @apply extra-top-spacing;
    @apply extra-bottom-spacing;
  }
}

.related-tags__tags {
  @apply pt-5;
  @apply border-t border-secondary-100;
}
