/*----------------------------------------*\
  SOCIALS
\*----------------------------------------*/

.socials__info {
  .socials--items-3 & {
    @apply col-span-3; 
  }
}

.socials__grid {
  .socials--items-4 & {

    & > *:nth-child(4) {
      grid-column-end: -2; 
    }

    & > *:nth-child(5) {
      grid-column-end: -1; 
    }
  }
}


/* .socials__grid {
  & > *:last-child:nth-child(3n - 1) {
    grid-column-end: -1; 
    opacity: 0.5; 
  }
} */