/*----------------------------------------*\
  TOP HEADER
\*----------------------------------------*/

.top-header {
  @apply py-3 md:py-4 lg:py-6 xl:py-8 2xl:py-10;
  @apply bg-white;
  @apply border border-b ;
}
