/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

h1,
.h1 {
  @apply text-primary-600 text-5xl;
}

h2,
.h2 {
  @apply text-gray-800;
}

h3,
.h3 {
  @apply text-gray-800;
}

h4,
.h4 {
  @apply text-gray-800;
}
