/*----------------------------------------*\
  AUDIO-PLAYER
\*----------------------------------------*/

.audio-player {
  
  .vertical-spacing & {
    @apply extra-top-spacing;
    @apply extra-bottom-spacing;
  }
}

.audio-player__description {
  @apply legend;
  @apply max-w-lg;
}



