.🇨🇭-badge {
  @apply inline-flex items-center;
  @apply rounded-full;
}

/* COLORS */

.🇨🇭-badge--gray {
  @apply text-gray-800;
  @apply bg-secondary-100;
}

.🇨🇭-badge--red {
  @apply text-red-800;
  @apply bg-red-100;
}

.🇨🇭-badge--yellow {
  @apply text-yellow-800;
  @apply bg-yellow-100;
}

.🇨🇭-badge--orange {
  @apply text-orange-800;
  @apply bg-orange-100;
}

.🇨🇭-badge--green {
  @apply text-green-800;
  @apply bg-green-100;
}

.🇨🇭-badge--blue {
  @apply text-blue-800;
  @apply bg-blue-100;
}

.🇨🇭-badge--indigo {
  @apply text-indigo-800;
  @apply bg-indigo-100;
}

.🇨🇭-badge--purple {
  @apply text-purple-800;
  @apply bg-purple-100;
}

.🇨🇭-badge--pink {
  @apply text-pink-800;
  @apply bg-pink-100;
}

/* COLORS */
.🇨🇭-badge--sm {
  @apply py-[2px] px-[12px];
  @apply text-sm;
}

.🇨🇭-badge--xs {
  @apply py-[2px] px-[10px];
  @apply text-xs;
}