/*----------------------------------------*\
  BOX
\*----------------------------------------*/

.box {
  @apply p-4 xs:p-5 lg:p-6 2xl:p-8;
  @apply bg-secondary-50;
}

.box + .box {
  @apply mt-[1px];
}
