/*----------------------------------------*\
  BTN
\*----------------------------------------*/

.🇨🇭-btn {
  @apply inline-flex items-center py-2 px-4;
  @apply text-primary-600 font-bold;
  @apply bg-primary-100;
  @apply border border-primary-400 rounded-sm;
}

.🇨🇭-btn--icon-left {
  @apply flex-row-reverse;
}
