/*----------------------------------------*\
  CARD
\*----------------------------------------*/

.card {

}

.card--default {

}

.card--highlight {

}

.card--image-left {

}

.card--clickable {

}

.card__image {

}

.card__body {

}

.card__header {

}

.card__footer {

}

.card__footer__info {

}

.card__footer__action {

}
