/*----------------------------------------*\
  COOKIE BANNER
\*----------------------------------------*/


.cookie-banner {
  @apply fixed z-50 right-0 bottom-0 left-0;
  @apply py-4 sm:py-8 lg:py-10;
  @apply bg-white;
  @apply shadow-2xl;
  @apply text--sm;
}

.cookie-banner__wrapper {
  @apply container;
  @apply lg:flex lg:justify-between;
  @apply gap--responsive;
}

.cookie-banner__infos {
  @apply pb-4 sm:pb-8 lg:pb-0;
}

.cookie-banner .btn {
  @apply lg:mb-3;
  @apply px-4;
}
