/*----------------------------------------*\
  DATE
\*----------------------------------------*/

.date {
  @apply flex items-start relative -ml-1 pb-4;
}

.date__day {
  @apply text--5xl leading-none;
}

.date__month {
  @apply text--lg font-bold;
}

.date__year {
  @apply text--lg font-bold pl-2;
}

.date__separator {
  @apply text--5xl leading-none pr-4 pl-2;
}
