.form {
  @apply space-y-6;
}

.form__group {
}

.form__group__legend {
  @apply mb-2;
}

.form__group__input,
.form__group__select {
  @apply w-full space-y-2;
}

.form__group__radio {
  @apply flex items-baseline gap-2 mb-2;

  label + & {
    @apply mt-2;
  }
}

.form__group__checkbox {
  @apply mb-2;
}
