/*----------------------------------------*\
  Image not available placeholder
\*----------------------------------------*/

.image-not-available {
  @apply flex flex-col justify-center;
  @apply text-center;
}
