/*----------------------------------------*\
  Image not available placeholder
\*----------------------------------------*/

.image__not-available {
  @apply flex flex-col justify-center;
  @apply text-center;

  svg {
    @apply h-20 lg:h-12;
  }
}

.image__not-available-text {
  @apply mt-2 ml-[5px] mr-[5px];
  @apply text-base;
}
