/*----------------------------------------*\
  INFOBLOCK
\*----------------------------------------*/

.info-block {
  @apply py-4 lg:py-6 grid grid--responsive-cols-1/3-2/3 border-secondary-200;
}

.info-block__title {
  @apply font--bold pr-1 mb-4 break-words;
}
