/*----------------------------------------*\
  LANGUAGE SWITCHER
\*----------------------------------------*/

.language-switcher {
  @apply flex cursor-pointer;

  a {
    @apply flex items-center;
    @apply h-full px-4;
  }

  select {
    @apply cursor-pointer;
  }

  option {
    &:disabled {
      @apply text-text-500;
    }
  }

  .select__icon {
    @apply w-7;
  }

  .select {
    &:hover {
        select, .select__icon {
          @apply text-text-300;
        }
    }
  }
}

