/*----------------------------------------*\
  LINKS
\*----------------------------------------*/

.link,
main p a {
  @apply text-red-600 hover:text-red-800 focus:text-red-800;
  @apply underline cursor-pointer;
}

.link--negative {
  @apply text-white hover:text-text-300 focus:text-text-300;
  @apply underline cursor-pointer;
}

