/*----------------------------------------*\
  LOGO
\*----------------------------------------*/


.🇨🇭-logo {
  @apply flex items-center flex-nowrap;
  @apply md:items-start;
  @apply transition-opacity duration-700;

  .body--mobilemenu-is-open & {
    @apply opacity-0;
  }
}

.🇨🇭-logo__flag {
  @apply flex-shrink-0;
  @apply w-[30px] h-[33px];
  @apply lg:w-[32px] lg:h-[34px];
  @apply xl:w-[40px] xl:h-[44px];
}

.🇨🇭-logo__name {
  @apply flex-shrink-0 hidden overflow-visible lg:block;
  @apply w-[174px] h-[50px];
  @apply xl:w-[244px] xl:h-[70px];
}

.🇨🇭-logo__separator {
  @apply w-px h-10 md:h-14 xl:h-[70px];
  @apply mr-2 sm:mr-4 lg:mr-6 xl:mr-8;
  @apply ml-2 sm:ml-4 lg:ml-6 xl:ml-8;
  @apply bg-[#D1D5DB] overflow-visible;
}

.🇨🇭-logo__title {
  @apply hidden sm:block;
  @apply text-sm font-bold leading-snug md:text-base xl:text-lg;
  @apply relative mt-[-0.7%]
}

.🇨🇭-logo__accronym {
  @apply font-bold leading-snug sm:hidden;
}
