/*----------------------------------------*\
  Meta Info
\*----------------------------------------*/

.meta-info {
  @apply text-gray-500 text--sm;
}

.meta-info__item {
  .bg--secondary-50 &,
  .box & {
    @apply text-text-600;
  }
}

.meta-info__item:not(:last-child):after {
  content: '|';
  @apply px-2 lg:px-3;
}
