/*----------------------------------------*\
  Meta Info
\*----------------------------------------*/

.meta-info {
  @apply text-text-new-label text--sm;
}

.meta-info__item {
  .bg--accent-01 &,
  .box & {
    @apply text-text-new-label;
  }
}

.meta-info__item:not(:last-child):after {
  content: '|';
  @apply px-2 lg:px-3;
}
