/*----------------------------------------*\
  Meta Info
\*----------------------------------------*/

.meta-info {
  @apply text-gray-400;
}
.meta-info__item:not(:last-child):after {
  content: "|";
  @apply px-3;
}

