/*----------------------------------------*\
  NEWSLETTER
\*----------------------------------------*/

.newsletter {
  @apply p-4 xs:p-7 lg:p-14 xl:p-16;
  @apply !my-7 lg:!my-8;
  @apply bg-secondary-50;

  .container__center--xs & {
    @apply broader-than-container-centered; 
  }
}

.newsletter__title {
  @apply text-secondary-600; 
}

.newsletter__text {
  @apply mb-8;
}

.newsletter__form {
  @apply flex items-end;
  
}

.newsletter__button {
  @apply shrink-0 ml-6;
}
