/*----------------------------------------*\
  NOTIFICATION
\*----------------------------------------*/

.notification {
  @apply flex items-start;
  @apply p-4 rounded;

  &.is-error {
    @apply bg-tertiary-red;
  }

  &.is-success {

  }
}
