/*----------------------------------------*\
  PAGINATION
\*----------------------------------------*/

.pagination {
  @apply flex flex-wrap items-center whitespace-nowrap;
  @apply md:space-x-1 lg:space-x-2 xl:space-x-3;

  li {
    @apply mb-3;
  }
}

