/*----------------------------------------*\
  Publication component
\*----------------------------------------*/

.sidecard-spacing {
  @apply !mt-[20px];
}

.publication-back-button-section {
  @apply !pb-20;
  @apply !pt-7;
}
