.select {
  @apply inline-flex relative;
  @apply border border-text-500 rounded-xs shadow;

  & select {
    @apply pr-20;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.select__icon {
  @apply w-12 h-12;
  @apply flex items-center justify-center;
  @apply absolute right-0;
  @apply border-l border-text-400;
  @apply pointer-events-none;

  & svg {
    @apply w-8 h-8;
  }
}
