/*----------------------------------------*\
  SEPARATOR
\*----------------------------------------*/

.separator::before {
  content: '';
  @apply w-full block;
  @apply border-b border-secondary-300;
}

.separator--xl {
  &::before {
    @apply w-full block;
    @apply h-4 md:h-5 lg:h-6;
  }
  &::after {
    content: '';
    @apply w-full block;
    @apply h-4 md:h-5 lg:h-6;
  }
}

.separator--negative::before {
  @apply border-secondary-400;
}