/*----------------------------------------*\
  SHARE BAR
\*----------------------------------------*/

.share-bar {
  @apply flex flex-row-reverse items-end;
  @apply mt-5 -mr-3 lg:mt-4;
}

.back-bar {
  @apply mt-5 lg:mt-4;
}

.share-url {
  @apply flex flex-wrap items-center gap-3 xs:min-w-[22rem] xl:min-w-[24rem];
}
