/*----------------------------------------*\
  SHOPPING CART
\*----------------------------------------*/

.shopping__cart-temporary-button {
  @apply mt-[15px];
}

.shopping__cart-accordion-content {
  @apply w-full px-2 pt-4 pb-6;
}

.shopping__cart-card-list {
  @apply list-none;

  @screen lg {
    @apply col-span-3;
  }
}

.shopping__cart__action-container {
  @apply mt-4;
}

.shopping__cart-container {
  @apply p-16;
}

.shopping__cart-confirmation-badge {
  @apply text-green-600 border-green-600;
  & svg {
    @apply fill-current;
  }
}

.shopping__cart-confirmation-checkmark {
  @apply absolute;
  @apply text-white border-white;

  & svg {
    @apply fill-current;
  }
}

.shopping__cart-confirmation {
  @apply flex items-center justify-center;
  @apply relative;
  @apply w-[48px] h-[48px];
}

.shopping__cart-confirmation-container {
}

.shopping__cart-confirmation-title {
  @apply mt-[25px];
}

.shopping__cart-confirmation-action {
  @apply mt-[30px];
}

/* Price and order box */

.shopping__cart-order-agreement {
  @apply mt-[20px];
}

.shopping__cart-order-overview-container {
  @screen lg {
    @apply grid grid-cols-5 gap--responsive;
  }
}

.shopping__cart-delivery-summary {
  @apply mt-5;
  @screen lg {
    @apply mt-0;
    @apply col-span-2;
  }
}

.shopping__cart-order-form {
  @apply mt-4;
}

.shopping__cart-order-form-input-spacing {
  @apply mt-4;
}

.shopping__cart-order-form-fieldset-spacing {
  @apply mt-6;
}

.shopping__cart-order-form-container {
  @apply mt-4;
  @apply grid grid-cols-2;
  @apply gap--responsive;
}

.shopping__cart-order-form-title {
  @apply mt-4;
}

.shopping__cart-order-form-invoice-title {
  @apply mt-7;
}

.shopping__cart-bill-address-container {
  @apply !mt-5;
}

.shopping__cart-summary-box-title {
  @apply break-all;
}
