/*----------------------------------------*\
  Shopping cart total summary
\*----------------------------------------*/

.total__summary-container {
  @apply !mt-5;
}

.total__summary-inline-text {
  @apply whitespace-nowrap;
}

.total__summary-total-title {
  overflow-wrap: anywhere;
  @apply mr-[10px];
}

.total__sumary-title {
  overflow-wrap: anywhere;
}

.total__summary-agb {
  @apply mt-4;
}
