/*----------------------------------------*\
  Shopping cart ammount indicator
\*----------------------------------------*/

.shopping-cart-ammount-indicator {
  @apply bg-red-600;
  width: 20px;
  height: 20px;
  @apply rounded-full;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  color: white;
  font-size: 0.7rem;
  @apply absolute;
  top: -5px;
  left: 20px;
  @screen lg {
    left: 15px;
  }
}
