/*----------------------------------------*\
  Shopping cart total
\*----------------------------------------*/

.shopping__cart-total-description {
  @apply mt-[10px];
  @apply max-w-[600px];
}

.shopping__cart-total-container {
  @apply font-bold;
  @apply mt-7;

  @screen lg {
    @apply flex justify-between;
  }
}

.shopping__cart-total {
  @apply mt-[5px];
  @screen lg {
    @apply mt-0;
  }
}
