/*----------------------------------------*\
  Shopping cart amount indicator
\*----------------------------------------*/

.shopping__cart-amount-indicator {
  @apply bg-red-600;
  @apply w-5 h-5;
  @apply rounded-full;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  color: white;
  font-size: 0.7rem;
  @apply absolute;
  top: -5px;
  left: 20px;
  @screen lg {
    left: 15px;
  }
}
